:root {
  --bg: #c9b793;
  --color: #333;

  --bgHeader: #333;
  --colorHeader: #c9b793;

  --accent01: #ebb242;
  --accent02: #388684;
  --red: #ce5955;
  --darkred: darkred;
  --green: green;
  --darkgreen: rgb(0, 66, 0);
  --green_transparent_3: rgba(0, 128, 0, 0.3);
  --red_transparent_3 : rgba(255, 0, 0, 0.3);

  --padding: 10px;
  --padding_small: 5px;
  --padding_big: 20px;
  --radius: 10px;
  --radius_small: 5px;
  --radius_big: 25px;

  --transparent_2: rgba(0, 0, 0, 0.2);
	--transparent_5: rgba(0, 0, 0, 0.5);
	--transparent_8: rgba(0, 0, 0, 0.8);
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: 'courier new';
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, address {
    margin: 0px;
}
h1 {
  font-size: 45px;
  line-height: 40px;
}
h2 {
  font-size: 30px;
  line-height: 34px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 18px;
}
h5 {
  font-size: 14px;
  line-height: 16px;
}
h6 {
  font-size: 12px;
  line-height: 14px;
}

ul{
  margin:0px;
  padding:0px;
}
ul li{
  list-style: none;
  display: block;
}

.accent01{
  color: var(--accent01);
}
.accent02{
  color: var(--accent02);
}
.error_text{
  color: var(--red);
}

textarea.shadow_concav, input.shadow_concav, button.shadow_concav, .shadow_concav{
	-moz-box-shadow:    inset 4px 4px 8px 2px var(--transparent_8)!important;
  -webkit-box-shadow: inset 4px 4px 8px 2px var(--transparent_8)!important;
  box-shadow:         inset 4px 4px 8px 2px var(--transparent_8)!important;
}
textarea.shadow_convex, input.shadow_convex, button.shadow_convex, .shadow_convex{
	-moz-box-shadow:    4px 4px 8px 2px var(--transparent_8)!important;
  -webkit-box-shadow: 4px 4px 8px 2px var(--transparent_8)!important;
  box-shadow:         4px 4px 8px 2px var(--transparent_8)!important;
}

textarea:focus, input:focus{
  outline: none;
}

.page, .page_box{
  margin-bottom: 45px;
}
.page_box{
  margin-top: var(--padding_big);
}
.title_line{
  position: relative;
  z-index: 1;
  text-align: center;
}
.title_line span {
  background-color: var(--bg);
  padding: 0px var(--padding_small);
  position: relative;
  z-index: 2;
}
.title_line::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--color);
  transform: translateY(50%);
}


/* ANNOUNCEMENT BAR */
.announcementBar{
  padding: var(--padding_small) var(--padding);
  text-align: center;
  background-color: var(--accent01)
}

/* HEADER */
.header{
  background-color: var(--bgHeader);
  color: var(--colorHeader);
  padding: 0px var(--padding);
  position: relative;
  z-index: 2;
}
.header:after{
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: solid 1px var(--color);
}

.navbar {
  display: flex;
  align-items: center;  
}

.navbar .logo {  
  align-items: center;
  display: flex;
  cursor: pointer;
}

.title{
  padding: var(--padding_small);
}
.title h1{
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}
.title h2{
  font-size: 12px;
  line-height: 12px;
}

.logo img {
  max-width: 40px;
}
.item.search {
  display:flex;
  justify-content: center;
  flex-grow:1; 
  padding: 0px var(--padding_small);
}
.item.search .search_icon {
  border-left: 1px solid var(--bgHeader);
  padding: var(--padding_small);
  cursor:pointer;
  color: var(--bgHeader);
  width: 40px;
  text-align: center;
}
.item.search .search_icon:hover {  
  color: black;
}

.item.search input {
  width: 100%;
  padding: var(--padding_small) var(--padding) ;
  outline: none;
  border: 2px solid var(--bgHeader); 
  background-color: var(--colorHeader);
  max-width: 100%;
  border: 0;
}

.item .search_group {
  display:flex;
  width: 100%;
  max-width: 700px;
  border-radius: var(--radius_big);
  border: solid 1px var(--bgHeader);
  overflow: hidden;
  background: var(--colorHeader);  
  color: var(--bgHeader);
  height: 30px;
}

.group_list {
  display: flex;
  justify-content: center;
  flex-grow: 0;
}
.group_list .group {
  padding: var(--padding_small);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.group_list .group svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 20px;
}
.group_list .group:hover{
  color: var(--accent01);
}
.group_list .group .group_number{
  position: absolute;
  z-index: 1;
  top: -3px;
  right: 3px;
  background-color: var(--accent01);
  border: solid 1px var(--bgHeader);
  color: var(--bgHeader);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.menu_icon{
  display:none;
  padding-right: var(--padding_small);
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--colorHeader);
  margin: 5px 0;
  transition: 0.5s;
}
.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

/* MENU */
.menu_container {
  position: relative;
}
.menu_item {
  display: inline-block;
  vertical-align: top;
  border-right: solid 1px var(--colorHeader);
}
.menu_item:last-child {
  border-right: solid 0px transparent;
}
.menu_item h4 {
  padding: var(--padding);
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
}
.menu_item:hover {
  background-color: var(--colorHeader);
  color: var(--bgHeader);
}

.menu_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--colorHeader);
  color: var(--bgHeader);  
  width: 100%;
  z-index: 9999;
  white-space: nowrap;
}

.menu_column {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: var(--padding);
}

.menu_column:last-child {
  margin-right: 0;
}

.menu_column h4 {
  padding: 0px;
  margin-bottom: var(--padding_small);
  padding-bottom: var(--padding_small);
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--bgHeader);
}

.menu_column ul li {
  margin: var(--padding_small) 0px;
  cursor: pointer;
}

.menu_column h4:hover, .menu_column ul li:hover{
  color: var(--accent01);
}

.menu_item:hover .menu_content {
  display: block;
}

/* SETTINGS */
.settings .settings_box{
  margin-bottom: var(--padding_small);
}
.settings .settings_box:last-child{
  margin-bottom: 0px;
}
.settings .settings_box h4{
  margin-bottom: var(--padding_small);
}

/* HOMEPAGE */

/* BANNER */
.banner_container{
  padding: var(--padding) var(--padding_big);
  font-size: 16px;
  line-height: 16px;
  text-align: right;
}
.banner_container h2{
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}
.banner_container.banner_home{
  background: url(../img/banner_home.jpg);
  height: 300px;
  border-bottom: solid 3px var(--color);
  position: relative;
  z-index: 1;
}
.banner_container.banner_home:after{
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  border-bottom: solid 1px var(--color);
}
.banner{
  padding: var(--padding);
  background-color: var(--accent01);
  width: 100%;
  max-width: 600px;
  display: inline-block;
  border-radius: var(--radius);
}

/* FEATURED CATEGORIES */
.featured_categories_container{
  padding: var(--padding);
  text-align: center;
}
.featured_categories .category_box{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 300px;
  padding: var(--padding);
}
.featured_categories .category_card{
  background-color: var(--accent01);
  border-radius: var(--radius);
}
.featured_categories .category_card_box{
  position: relative;
  z-index: 1;
  height: 400px;
  padding: var(--padding);
}
.featured_categories .category_card h3{
  background-color: var(--color);
  color: var(--bg);
  border-radius: var(--radius) var(--radius) 0px 0px;
  padding: var(--padding_small);
  margin-bottom: var(--padding_small);
}
.featured_categories .category_card_box .button_action_group{
  position: absolute;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}

/* PROMOTION OFFER */
.promotional_offers_container{  
  padding: var(--padding);
}
.cell_bookstore_container{
  position: relative;
  z-index: 1;
  padding: var(--padding_big);  
}
.cell_bookstore_container .discount{
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 3px;
  padding: var(--padding);
  background-color: var(--red);
  color: white;
  font-size: 20px;
  line-height: 34px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
}
.cell_bookstore{
  padding: var(--padding);  
  border-radius: var(--radius);
  border: solid 1px var(--color);
  background-color: var(--bg);
  text-align: center;
}
.cell_bookstore .cell_title{
  padding: 0px var(--padding) var(--padding_small) var(--padding);
  margin-bottom: var(--padding_small);
  border-bottom: solid 1px var(--color);
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.cell_bookstore .cell_author{
  font-weight: bold;
}
.cell_bookstore .price_box{
  color: var(--accent02);
}
.cell_bookstore img{
  width: 100%;
  max-width: 200px;
  border-radius: var(--radius);
  margin: var(--padding) 0px;
  display: inline-block!important;
  cursor: pointer;
}
.cell_bookstore .image_box img{
  height: 320px;
  width: auto;
}

/* FOOTER */
.footer_container{
  position: fixed;
  z-index: 1;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}
.footer_container{
  background-color: var(--bgHeader);
  color: var(--colorHeader);
  text-align: center;
  padding: var(--padding_small);
}
.footer_list li{
  display: inline-block;
  vertical-align: top;
  padding: 0px var(--padding_small);
  font-size: 12px;
  line-height: 16px;
  border-right: solid 1px var(--bg);
  cursor: pointer;
}
.footer_list li:last-child{
  border-right: solid 0px transparent;
}
.footer_container footer{
  margin-top: var(--padding_small);
}
.footer_container footer h6{
  font-size: 10px;
  line-height: 12px;
}

/* PRICE BOX */
.price_box{
  padding: var(--padding_small) var(--padding);
  text-align: center;
}
.price_box .price{
  font-size: 14px;
  line-height: 16px;
  padding: 0px var(--padding_small);
}
.price_box .price_new{
  font-size: 20px;
  line-height: 22px;
  padding: 0px var(--padding_small);
}
.price_box .price_old{
  font-size: 14px;
  line-height: 16px;
  padding: 0px var(--padding_small);
  text-decoration: line-through;
}

/* CATEGORIES */
.page .title{
  margin-bottom: var(--padding_big);
}
.category_panel_container, .products_container{
  margin-bottom: var(--padding);
  position: relative;
  z-index: 1;
}
.category_panel{
  padding: 0px var(--padding);
  border-right: solid 1px var(--color);
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* CATEGORIES - PANEL */
.category_panel_box{
  margin-bottom: var(--padding);
  text-align: center;
}
.category_panel_box h4{
  background-color: var(--color);
  color: var(--bg);
  padding: var(--padding_small) var(--padding);
  margin-bottom: var(--padding_small);
  border-radius: var(--radius);
}
.category_panel_box .dropdown .dropdown-toggle, 
.category_panel_box .dropdown .dropdown-toggle:hover, 
.category_panel_box .dropdown .dropdown-toggle:active, 
.category_panel_box .dropdown .dropdown-toggle:focus{
  width: 100%;
  border: solid 1px var(--accent02);
  color: var(--accent02);
  height: 30px;
  font-size: 14px;
  line-height: 16px;
}
.category_panel_box .dropdown .dropdown-menu {
  border: solid 1px var(--accent02);
  color: var(--accent02);
}
.category_panel_box .dropdown-item {
  color: var(--accent02);
}
.category_panel_box .dropdown-item:focus, .category_panel_box .dropdown-item:active, .category_panel_box .dropdown-item:hover{
  background-color: var(--accent02);
}
.category_panel_box_tag, .category_panel_box_format{
  height: 155px;
  overflow: auto;
}
.category_panel_box_tag .tag_item, .category_panel_box_format .format_item {
  padding: var(--padding_small);
  display: inline-block;
  vertical-align: top;
}
.category_panel_box_tag .tag_button, .category_panel_box_format .format_button{
  padding: var(--padding_small);
  border-radius: var(--radius);
  border: solid 1px var(--accent02);
  color: var(--accent02); 
  cursor: pointer; 
}
.category_panel_box_tag .tag_item.selected .tag_button, .category_panel_box_format .format_item.selected .format_button{
  background-color: var(--accent02);
  color: var(--bg);  
}

/* CATEGORIES - PRODUCTS */
.category_container{
  padding: 0px var(--padding_big);
}
.product_card_container {
  vertical-align: top;
  position: relative;
  z-index: 1;
  margin-bottom: var(--padding);
}
.product_card_container .discount{
  position: absolute;
  z-index: 1;
  top: -8px;
  right: -8px;
  padding: var(--padding);
  background-color: var(--red);
  color: white;
  font-size: 20px;
  line-height: 34px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
}
.product_card {
  border: solid 1px var(--color);
  border-radius: var(--radius);
  padding: var(--padding);
  overflow: hidden;
  text-align: center;
}
.product_card .cell_title {
  padding-bottom: var(--padding);
  margin-bottom: var(--padding);
  border-bottom: solid 1px var(--color);
  position: relative;
  z-index: 1;
  height: 50px;
  cursor: pointer;
}
.product_card .cell_title h4{
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  font-weight: bold;
}
.product_card .cell_author, .product_card .cell_ratting {
  margin-bottom: var(--padding);
}
.product_card img {
  margin-bottom: var(--padding);
  width: 100%;
  border-radius: var(--radius);
  cursor: pointer;
}
.product_card .image_box{
  width: 100%;
  overflow: hidden;
}
.product_card .image_box img{
  height: 320px;
  width: auto;
}
.product_card .price_box {
  color: var(--accent02);
}
.control_panel{
  background-color: var(--bgHeader);
  color: var(--colorHeader);
  padding: var(--padding);
  margin-bottom: var(--padding);
  border-radius: var(--radius);
}
.control_panel_box{
  display: inline-block;
  vertical-align: top;
  padding: 0px var(--padding);
}
.control_panel_box span, .control_panel_box .dropdown{
  display: inline-block;
  vertical-align: middle;
  padding-right: var(--padding_small);
}
.pagination Button.active, .pagination Button:hover{
  background-color: var(--accent02)!important;
  border-radius: 100%;
  border: solid 1px var(--accent02)!important;
  color: var(--bg)!important;
  margin: 2px;
  width: 35px;
  height: 35px;
}
.pagination Button{
  background-color: transparent;
  border-radius: 100%;
  border: solid 1px var(--accent02);
  color: var(--accent02);
  margin: 2px;
  width: 35px;
  height: 35px;
}
.star{
  width: 25px!important;
  display:inline-block!important;
  vertical-align: middle;
  padding: var(--padding_small) 2px;
}

/* PRODUCT */
.product_container{
  padding: 0px var(--padding_big);
}
.product_image{
  position: relative;
  z-index: 1;
}
.product_image img{
  width: 100%;
  border-radius: var(--radius);
}
.product_image .discount{
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  padding: var(--padding);
  background-color: var(--red);
  color: white;
  font-size: 20px;
  line-height: 34px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
}
.product_info .price_box{
  text-align: left;
  color: var(--accent02);
  padding: var(--padding) 0px;
}
.product_info .price_box .price{
  font-size: 24px;
  line-height: 26px;
}
.product_info .price_box .price_new{
  font-size: 24px;
  line-height: 26px;
}
.product_info .price_box .price_old{
  font-size: 18px;
  line-height: 20px;
}
.product_info_box{
  margin-bottom: var(--padding_small);
}
.product_info_box h3{
  padding-bottom: var(--padding_small);
  margin-bottom: var(--padding_small);
  border-bottom: solid 1px var(--color);
}
.product_info_dropdown_format{
  width: 100%;
  max-width: 155px;
}
.product_info .tag_box{
  border: solid 1px var(--color);
  padding: var(--padding_small) var(--padding);
  border-radius: var(--radius);
  margin: var(--padding_small);
  display: inline-block;
  vertical-align: top;
}
.product_info .button_action_group{
  padding: 0px;
}
.product_info .mybutton{
  width: 150px;
  margin: var(--padding_small);
}
.breadcrumb_item{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.breadcrumb_item:hover span{
  text-decoration: underline;
}
.similar_products{
  padding: var(--padding) 0px;
  border-bottom: solid 1px var(--color);
}

/* DROPDOWN */
.dropdown{
  border-radius: var(--radius);
}
.dropdown .dropdown-toggle, .dropdown .dropdown-toggle:hover, .dropdown .dropdown-toggle:active, .dropdown .dropdown-toggle:focus{
  background-color: transparent;
  border: solid 1px var(--color);
  color: var(--color);
  box-shadow: none!important;
  border-radius: var(--radius);
  width: 100%;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown .dropdown-menu{
  background-color: var(--bg);
  border: solid 1px var(--color);
  color: var(--color);
  width: 100%;
  border-radius: var(--radius);
  max-height: 200px;
  overflow-x: hidden;
	overflow-y: auto;
  padding: var(--padding_small);
  max-height: 150px;
}
.dropdown-item{
  color: var(--color);
  text-align: center;
  padding: var(--padding_small) var(--padding);
}
.dropdown-item:focus, .dropdown-item:active, .dropdown-item:hover{
  background-color: var(--color);
  color: var(--bg);
}
.dropdown.light .dropdown-toggle, .dropdown.light .dropdown-toggle:hover, .dropdown.light .dropdown-toggle:active, .dropdown.light .dropdown-toggle:focus{
  border: solid 1px var(--bg);
  color: var(--bg);
}
.products_container .dropdown .dropdown-menu{
  width: auto;
}

/* CART + WISHLIST*/
.cart_container, .wishlist_container{
  padding: 0px var(--padding_big);
}
.cart_list_container, .wishlist_list_container{
  height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
}
.cart_item, .wishlist_item{
  padding: var(--padding);
  border-bottom: solid 1px var(--color);
}
.cart_item:last-child, .wishlist_item:last-child{
  border-bottom: solid 0px transparent;
}
.cart_item img, .wishlist_item img{
  width: 100%;
  max-width: 150px;
  border-radius: var(--radius);
  cursor: pointer;
}
.cart_item_image, .cart_item_info, .cart_item_buttons,
.wishlist_item_image, .wishlist_item_info, .wishlist_item_buttons{
  padding: var(--padding_small) var(--padding);
}
.cart_item .cart_box, .cart_item .price_box,
.wishlist_item .price_box, .wishlist_item .price_box{
  text-align: left;
  padding: var(--padding_small) 0px;
  color: var(--accent02);
}
.cart_item .price_box .price, .cart_item .price_box .price_new, .cart_item .price_box .price_old, 
.wishlist_item .price_box .price, .wishlist_item .price_box .price_new, .wishlist_item .price_box .price_old{
  padding: 0px var(--padding_small) 0px 0px;
}
.wishlist_item_buttons .mybutton{
  margin: var(--padding_small);
}
.cart_item .dropdown .dropdown-toggle, .wishlist_item .dropdown .dropdown-toggle,
.cart_item .dropdown .dropdown-menu, .wishlist_item .dropdown .dropdown-menu{
  width: 100px;
  max-width: 100px;
  min-width: 100px
}
.cart_item_buttons{
  text-align: right;
}
.total_price{
  padding: var(--padding) 0px;
  text-align: center;
}
.total_price .mybutton{
  margin-bottom: var(--padding_small);
}

/* CHECKOUT */
.checkout_container{
  text-align: center;
}
.payment_container{
  width: 100%;
  max-width: 600px;
  display: inline-block;
}
.payment_container label, .payment_container input, .payment_container .dropdown{
  margin-bottom: var(--padding_small);
}
.payment_container .dropdown-toggle{
  width: 100%;
  height: 25px;
  line-height: 14px;
}
.checkbox_radio_container.payment_details_title{
  padding: var(--padding_small);
  margin-bottom: var(--padding);
  border-bottom: solid 1px var(--color);
  width: 100%;
  max-width: 600px;
  display: inline-block;
}
.checkbox_radio_container{
  padding: var(--padding_small);
}
.checkout_container .dropdown_box{
  margin-bottom: var(--padding);
}
.checkout_container .button_action_group{
  padding: var(--padding) 0px;
}
.payment_icons .payment_icon{
  width: 45px;
  margin: 0px 2px;
}

/* CONTACT */
.contact_form_container{
  text-align: center;
}
.contact_form_info a, .contact_form_info a:hover, .contact_form_info a:focus, .contact_form_info a:active{
  color: var(--accent02);
}
.contact_form_info{
  margin-top: var(--padding);
}
.contact_form{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding: var(--padding);
}
.contact_form .label_container, .contact_form input, .contact_form textarea{
  margin-bottom: var(--padding_small);
}
.contact_form_info_small{
  display: none;
}
.contact_form_info_big{
  display: inline-block;
}

@media (max-width: 767px) {
  h1 {
		font-size: 30px;
		line-height: 32px;
	}
	h2 {
		font-size: 18px;
		line-height: 20px;
	}
	h3 {
		font-size: 16px;
		line-height: 18px;
	}
	h4 {
		font-size: 14px;
		line-height: 16px;
	}	
	h6 {
		font-size: 10px;
		line-height: 12px;
	}

  .page, .page_box{
    margin-bottom: 0px;
  }

  /* NAVBAR */
  .menu_icon {
    display:block;
  }
  .detail,.logo .text {
    display:none;
  }
  .group_list .group svg {
    font-size: 16px;
  }
  .item .search_group{
    height: 20px;
  }
  .item.search input{
    height: 18px;
    padding: 4px 6px;
  }
  .item.search .search_icon{
    font-size: 12px;
    padding: 4px 6px;
  }
  /* MENU */
  .menu_container{
    position: absolute;
    z-index: 9999;
    left: 0px;
    right: 0px;
    background-color: var(--bgHeader);
    width: 100%;
    display: none;
  }
  .menu_container.open{
    display: block;
  }
  .menu_item {
    display: block;
    border-right: solid 0px transparent;
    position: relative;
  }
  .menu_content{
    max-height: 400px;
    overflow: auto;
  }
  .menu_column{
    display: block;
    width: 100%;
  }

  /* HOMEPAGE */
  
  .banner_container{
    padding: var(--padding);
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
  .banner_container h2{
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }
  .banner_container.banner_home{
    height: 170px;
  }
  .banner{
    padding: var(--padding_small);
  }
  .featured_categories .category_card_box{
    height: auto;
  }
  .featured_categories .category_card_box .category_card_box_info{
    display: none;
  }
  .featured_categories .category_card_box .button_action_group{
    position: static;
    padding: 0px;
  }
  .cell_bookstore img{
    margin: 0px;
  }
  .featured_categories_container, .promotional_offers_container, .featured_categories .category_box{
    padding: var(--padding) 0px;
  }

  /* CART + WISHLIST*/
  .cart_container, .wishlist_container, .cart_item_buttons{
    text-align: center;
  }
  .cart_list_container, .wishlist_list_container {
    height: 300px;
  }
  .cart_item_info, .wishlist_item_info{
    text-align: left;
  }
  .cart_item img, .wishlist_item img {
    max-width: 120px;
  }

  /* FOOTER */
  .footer_container{
    position: static;
  }
  .footer_list li{
    display: block;
    border: none;
  }

  /* CONTACT */
  .contact_form_info_small{
    display: inline-block;
  }
  .contact_form_info_big{
    display: none;
  }
}

@media (max-width: 575px) {
  /* CATEGORT */
  .category_panel {
    display: none;
    padding: var(--padding_small);
    border-right: solid 0px transparent;
    position: static;
  }
  .control_panel{
    display: none;
  }
}

/* Tablet devices (portrait) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .cart_list_container, .wishlist_list_container {
    height: 500px;
  }
}

/* Tablet devices (landscape) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .cart_list_container, .wishlist_list_container {
    height: 400px;
  }
}

/* Small desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
  .cart_list_container, .wishlist_list_container {
    height: 600px;
  }
}

.custom_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  outline: none;
  transition: opacity .15s ease-in-out;
}
.custom_slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: var(--accent02);
}
.custom_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  background: var(--accent02);
  cursor: pointer;
  border-radius: 50%;
  margin-top: -8px;
}
.custom_slider::-webkit-slider-thumb:focus {
  outline: none;
}
.custom_slider::-webkit-slider-thumb:active {
  background: var(--accent02);
}
.custom_slider::-moz-range-track {
  width: 100%;
  height: 1px;
  background: var(--accent02);
}
.custom_slider::-moz-range-thumb {
  width: 17px;
  height: 17px;
  background: var(--accent02);
  cursor: pointer;
  border-radius: 50%;
}
.custom_slider:focus::-moz-range-thumb {
  outline: none;
  background: var(--accent02);
}

::-webkit-scrollbar{
	width: 10px;
	height:5px;
	border-radius: var(--radius);
}
::-webkit-scrollbar-track {
	border-radius: var(--radius);
	background:var(--color);
	border:solid 4px var(--bg)
}
::-webkit-scrollbar-thumb{
	border-radius: var(--radius);
	background-color: var(--color);
	border:solid 1px var(--bg);
  cursor: pointer;
}
.category_panel_box ::-webkit-scrollbar-track {
	background:var(--accent02);
}
.category_panel_box ::-webkit-scrollbar-thumb{
	background-color: var(--accent02);
}

/* OTHER */

/* OTHER PAGES */
.page_body{
  margin-top: var(--padding);
}
.page_body h3, .page_body p{
  margin-bottom: var(--padding_small);
}
.page_body ul{
  padding-left: var(--padding_big);
}
.page_body ul li{
  display: list-item;
  list-style: disc;
}

/* BUTTONS */
.mybutton{
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 0px var(--padding);
  border-radius: var(--padding_big);
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.mybutton svg{
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 18px;
}
.round{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: var(--padding_small);
}
.button_transparent{
  background-color: transparent!important;
  border: solid 1px var(--color)!important;
  color: var(--color)!important;
}
.button_transparent:hover, .button_transparent:active, .button_transparent:focus{
  background-color: var(--transparent_color)!important;
}
.button_fullcolor01, .button_fullcolor01:active, .button_fullcolor01:focus{
  background-color: var(--color)!important;
  border: solid 1px var(--color)!important;
  color: var(--bg)!important;
}
.button_fullcolor01:hover{
  background-color: transparent!important;
  color: var(--color)!important;
}
.button_fullcolor02, .button_fullcolor02:active, .button_fullcolor02:focus{
  background-color: var(--accent02)!important;
  border: solid 1px var(--accent02)!important;
  color: var(--bg)!important;
}
.button_fullcolor02:hover{
  background-color: transparent!important;
  color: var(--accent02)!important;
}
.button_red, .button_red:active, .button_red:focus{
  background-color: var(--red)!important;
  border: solid 1px var(--red)!important;
  color: var(--bg)!important;
}
.button_red:hover{
  background-color: transparent!important;
  color: var(--red)!important;
}
.button_action_group{
  padding: var(--padding);
}
.button_action_group .round{
  margin: 0px 5px!important;
}

/* checkbox and radio buttons */
.checkbox_radio_container input[type="radio"], .checkbox_radio_container input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;	/* For iOS < 15 to remove gradient background */
	background-color: transparent;
	appearance: none;
  padding: 0px !important;
  width: 20px;
  height: 20px;
	border-radius: 100%!important;
	display: grid;
  place-content: center;
  cursor: pointer;
  margin: 0px !important;
  border: solid 1px var(--color);
}
.checkbox_radio_container input[type="radio"]{
	border-radius: 100%!important;
}
.checkbox_radio_container input[type="checkbox"] {
	border-radius: var(--radius_small)!important;
}

.checkbox_radio_container input[type="radio"]::before{
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color);
	background-color: CanvasText;
}
.checkbox_radio_container input[type="checkbox"]::before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--color);
	background-color: CanvasText;
	transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox_radio_container input[type="radio"]:checked::before, .checkbox_radio_container input[type="checkbox"]:checked::before {
	transform: scale(1);
}
.checkbox_radio_container input[type="radio"]:focus, .checkbox_radio_container input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid var(--color);
}
.checkbox_radio_container label{
	display: inline-flex;
  grid-template-columns: 20px auto;
  gap: 10px;
	margin:0px var(--padding_small)!important;
}
.checkbox_radio_container label h6{
  text-align: left;
}
.checkbox_radio_container h6{
  margin-top: 4px;
}
.mymodal.success, .mymodal.error{
  text-align: center;
}

/* INPUT AND TEXTAREA */
input, textarea{
  border-radius: var(--radius);
  padding: var(--padding_small) var(--padding);
  font-size: 14px;
  line-height: 14px;
  height: 25px;
  width: 100%;
  background-color: transparent;
}
.input_light{
  border: solid 1px var(--color);
  color: var(--color);
}
.input_dark{
  border: solid 1px var(--bg);
  color: var(--bg);
}
textarea {
	resize: none;
  min-height: 175px;
}

/* ALERTS */
.alert {
  width: 100%;
  padding: var(--padding_small) var(--padding);
  border-radius: var(--radius);
  font-size: 12px;
  line-height: 12px;
  margin: 0px;
  margin: var(--padding_small) 0px;
  color: white;
}
.alert.alert-success {
  background-color: var(--green);
  border: solid 1px var(--green);
}
.alert.alert-danger {
  background-color: var(--red);
  border: solid 1px var(--red);
}
.alert.alert-success a, .alert.alert-danger a{
  color: white;
  text-decoration: none;
}

/* POPUP */
.mymodal{
  z-index: 9999;
}
.modal-dialog{
  padding: 0px var(--padding);
}
.modal-body{
  padding: var(--padding_big);
}
.modal-content{
  background-color: var(--bg);
  border: solid 1px var(--color);
  color: var(--color);
}
.modal-header{
  padding: var(--padding_small) var(--padding);
  background: var(--color);
  color: var(--bg);
  border: solid 1px var(--bg);
}
.closeButton{
  background: var(--bg);
  border: solid 1px var(--color);
  color: var(--color);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  top: -10px;
  right: -10px;
  cursor: pointer;
}
.closeButton span{
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.closeButton:hover{
  background: var(--color);
  color: var(--bg);
  border: solid 1px var(--bg);
}
.popup_body{
  color: var(--bg);
}
.mymodal .modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content input{
  border: solid 1px var(--bg);
  color: var(--bg);
}

.error .modal-content{
  background-color: red;
}
.error .popup_body{
  color: var(--darkred);
}
.error .modal-header{
  background: var(--darkred); 
  border: solid 1px red;
  color: red;
}
.error .closeButton{
  background: red;
  border: solid 1px var(--darkred);
  color: var(--darkred);
}
.error .closeButton:hover{
  background: var(--darkred);
  border: solid 1px red;
  color: red;
}
.success .modal-content{
  background-color: var(--green);
}
.success .modal-header{
  background: var(--darkgreen); 
  border: solid 1px var(--green);
  color: var(--green);
}
.success .closeButton{
  background: var(--green);
  border: solid 1px var(--darkgreen);
  color: var(--color);
}
.success .closeButton:hover{
  background: var(--darkgreen);
  border: solid 1px var(--color);
  color: var(--green);
}